.auth-nav {
	padding: 15px 0px;
	box-shadow: 1px 1px 5px #000;
    width: auto;
    display: inline-block;
	grid-area:n;
	margin-right: 20px;
	margin-top: 10px;
}

.auth-nav ul {
    display: flex;
    justify-content: space-around;
}

.auth-nav-item {
	
}

.auth-nav-item a {
	color:black;
	font-size: 20px;
	text-transform:uppercase;

}